[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-rq = "*"

[dev-packages]
black = "*"
pytest = "*"
pylint = "*"
pylint-django = "*"

[requires]
python_version = "3.9.13"
