[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-rq = "*"
psycopg2-binary = "*"
requests = "*"

[dev-packages]
black = "*"
pytest = "*"
pylint = "*"
pylint-django = "*"
fakeredis = "*"
requests-mock = "*"

[requires]
python_version = "3.9.13"

[pipenv]
allow_prereleases = true
